@inherits LayoutComponentBase

<div class="bg-info text-white p-2">

    <div class="container-fluid">

        <div class="col-4">
            <span class="navbar-brand m-lg-2">Bookstore Administration</span>
        </div>

        <div class="col text-right">
            <a class="btn btn-sm btn-primary" href="/account/logout">Log Out</a>
        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row p-2">

        <div class="col-3">

            <!--Bootstrap extra #3-->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <NavLink class="nav-link active" href="/admin/books"
                             ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Books</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/admin/orders"
                             ActiveClass="btn-primary text-white" Match="NavLinkMatch.Prefix">Orders</NavLink>
                </li>
            </ul>

            <div class="d-grid gap-2">


            </div>

            <br />
            <!--Bootstrap extra #2-->
            <dl class="dl-horizontal">
                <dt>Details</dt>
                <dd>View the book details</dd>
                <dt>Edit</dt>
                <dd>Update the book details</dd>
                <dt>Delete</dt>
                <dd>Remove the book and its details</dd>
            </dl>

        </div>

        <div class="col">
            @Body
        </div>

    </div>

</div>
