@page "/admin"


@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@model Mission7.Pages.Admin.IndexModel
@{
}

<!DOCTYPE html>

<html>

<head>
    <title>Bookstore Admin</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <base href="/" />
</head>

<body>

        <component type="typeof(Routed)" render-mode="Server" />
        <script src="/_framework/blazor.server.js"></script>


</body>

</html>